header{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    display: grid;
    grid-column: 70%;
}
nav{
    background-color: rgb(152, 209, 255);
    text-align: center;
    padding: 0px;
    height: 200px;
    width: 100%;
}
nav p{
    color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
nav li{
    line-height: 3rem;
    position: relative;
}
nav li ul{
    color: rgb(162, 237, 250);
    display: none ;
    position: absolute;
}
nav li:hover > ul{
    display: block;
}
nav a{
    color: cornflowerblue;
    display: block;
    padding: 0 2.5em;
    width: 170px;
    text-decoration: none;
    transition: .4s;
}
nav a:hover{
    background:ghostwhite;
}
nav ul ul ul{
    display: none;
}
nav > ul{
    background: rgb(0, 0, 0);
    text-align: center;
    display: table;
    width: 100%;
}
nav > ul > li{
    float: left;
}
.contenedor{
    display: grid;
    grid-template-columns: 74%  26%;
}
section{
    background-color: rgb(155, 235, 255);
    padding: 5px;
}
aside{
    background-color: rgb(16, 207, 255);
}
footer{
    background-color: rgb(52, 101, 107);
    color: whitesmoke;
    text-align: right;
    padding: 10px;
}